<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<form class="" method="post" th:action="@{/event/eventCreate}" th:object="${eventForm}">
		<p>
			イベントスペースの選択: <select name="eventspaceId">
				<option th:each="eventSpace : ${eventSpaces}" th:value="${eventSpace.id}"
					th:selected="${eventSpaceId==eventSpace.id}">[[${eventSpace.Store.name}]] [[${eventSpace.name}]]
				</option>
			</select>
		</p>
		<p>
			<label for="name">イベント名：</label>
			<input type="text" th:field="*{name}">
			<span th:errors="*{name}"></span>
		</p>

		<p>
			<label for="description">イベントの説明：</label>
			<span th:errors="*{description}"></span><br>
			<textarea th:field="*{description}" rows="20" cols="50"></textarea>
		</p>
		<!--/*
			<p>
				<select th:field="*{categoryId}">
					<option th:each="" th:value="${categoryId}">[[ ${} ]]</option>
				</select>
			</p>
			<p>
				<select th:field="*{storeId}">
					<option th:each="" th:value="${storeId}">[[ ${} ]]</option>
				</select>
			</p>
			<p>
				<select th:field="*{eventSpaceId}">
					<option th:each="" th:value="${eventSpaceId}">[[ ${} ]]</option>
				</select>
			</p>
			*/-->

		<p>
			<label for="eventDate" class="date">開催日：</label>
			<input type="date" th:field="*{eventDate}">
			<span th:errors="*{eventDate}"></span>
		</p>
		<p>
			<label for="eventTime">開催時間：</label>
			<input type="time" th:field="*{eventTime}" min="10:00" max="20:00" step="1800" list="data-list">
			<datalist id="data-list">
				<option th:each="time : ${timeList}" th:value="${time}">[[ ${time} ]]</option>
			</datalist>
			<span th:errors="*{eventTime}"></span>
			<span th:errors="*{eventTimeAfterEventEndTime}"></span>
		</p>
		<p>
			<label for="eventEndTime">終了時間：</label>
			<input type="time" th:field="*{eventEndTime}" min="10:00" max="20:00" step="1800" list="data-list">
			<datalist id="data-list">
				<option th:each="time : ${timeList}" th:value="${time}">[[ ${time} ]]</option>
			</datalist>
			<span th:errors="*{eventEndTime}"></span>
		</p>
		<p>
			<label for="maxTicket">参加上限：</label>
			<input type="text" th:field="*{maxTicket}" maxlength="3" pattern="^[+]?([1-9][0-9]*|0)$">
			<span th:errors="*{maxTicket}"></span>
		</p>
		<p>
			<input class="register" type="submit" value="登録">
		</p>
	</form>
</div>

</html>